// Bring in the base partial

@use '_base';

// Right now this file is mostly just comments because I'm trying to figure out how I want to manage the spectral types and display, so references here are important

// Colors (for spectral types)
// Hexadecimal codes mostly from Vendian.org by Mitchell Charity (http://www.vendian.org/mncharity/dir3/starcolor/)

/* OBAFGKM standards (5V) */
/**

.O = #9BB0FF 
.B = #AABFFF;
.A = #CAD7FF;
.F = #F8F7FF;
.G = #FFF4EA;
.K = #FFD2A1;
.M = #FFCC6F;

*/

.filterList {
    .filterItem.O { color: base.$baseO; }
    .filterItem.B { color: base.$baseB; }
    .filterItem.A { color: base.$baseA; }
    .filterItem.F { color: base.$baseF; }
    .filterItem.G { color: base.$baseG; }
    .filterItem.K { color: base.$baseK; }
    .filterItem.M { color: base.$baseM; }
}

// TODO: Read the rest of Vendian and calculate color codes for every star type

/**
Some famous stars...

Achernar (B3V) #a5b9ff
Acrux (B0IV) #9cb2ff (as B0V)
Adhara (B2II) #a5c0ff
Aldebaran (K5III) #ffcc8a
Alnilam (B0I) #a1bdff
Alpha Centauri A (G2V) #fff5f2
Alpha Centauri B (K1V) #ffe0bc
Altair (A7V) #c8d5ff
Antares (M1I) #ffca8a
Arcturus (K1III) #ffdfb5
Bellatrix (B2III) #9fb4ff
Beta Centauri Hadar (B1III) #9eb1ff
Beta Crucis (B0III) #9eb1ff
Betelgeuse (M1I) #ffca8a
Canopus (F0II) #cbd9ff
Capella (G5III) #ffecd3
Deneb (A2I) #c7d6ff
Elnath (B7III) #abbfff
Fomalhaut (A3V) #bfcfff
Gacrux (M3III) #ffc877
Miaplacidus (A2IV) #bbcbff (as A2V)
Pollux (K0III) #ffe3be
Procyon (F5IV) #f1efff
Regulus (B7V) #adbfff
Rigel (B8I) #b6ceff
Shaula (B2IV) #9fb3ff
Sirius (A1V) #b5c7ff
Spica (B1III) #9eb1ff
Sun (G2V) #fff5f2
Vega (A0V) #b9c9ff

*/

// Useful mixins

// * This mixin will help resize the stars based on their luminosity class (roughly) so that giants appear larger than dwarfs

@mixin luminosity($size) {
    height: $size * base.$baseSize;
    width: $size * base.$baseSize;
}

// * We don't want the stars to be just a flat, matte color, so we'll use a radial gradient instead to make it look good; a SCSS mixin makes that much easier to apply 

@mixin glow($color) {
    $lighter: color.scale($color, $lightness: 20%, $saturation: -20%);
    $darker: color.scale($color, $lightness: -20%, $saturation: 20%);
    background-color: radial-gradient($darker, $color, $lighter);
}

// Basic classes

.star {
    border-radius: 100%;
    margin: 0.25rem;
}

.O5 {@include glow(#9db4ff)}
.O6 {@include glow(#9db4ff)}
.O7 {@include glow(#9DB3FF)}
.O8 {@include glow(#9DB3FF)}
.O9 {@include glow(#9cb2ff)}
.B0 {@include glow(#9cb2ff)}
.B1 {@include glow(#A1B9FF)}
.B2 {@include glow(#a5c0ff)}
.B3 {@include glow(#a7bcff)}
.B4 {@include glow(#A9BEFF)}
.B5 {@include glow(#aabfff)}
.B6 {@include glow(#ACC0FF)}
.B7 {@include glow(#ADC2FF)}
.B8 {@include glow(#afc3ff)}
.B9 {@include glow(#B4C6FF)}
.A0 {@include glow(#b9c9ff)}
.A1 {@include glow(#baccff)}
.A2 {@include glow(#BDCFFF)}
.A3 {@include glow(#c0d1ff)}
.A4 {@include glow(#C5D5FF)}
.A5 {@include glow(#cad8ff)}
.A6 {@include glow(#C9D7FF)}
.A7 {@include glow(#c8d5ff)}
.A8 {@include glow(#D1DBFF)}
.A9 {@include glow(#DBE2FF)}
.F0 {@include glow(#e4e8ff)}
.F1 {@include glow(#E9EBFF)}
.F2 {@include glow(#edeeff)}
.F3 {@include glow(#F2F1FF)}
.F4 {@include glow(#F6F5FF)}
.F5 {@include glow(#fbf8ff)}
.F6 {@include glow(#FCF8FD)}
.F7 {@include glow(#FEF9FB)}
.F8 {@include glow(#fff9f9)}
.F9 {@include glow(#FFF8F6)}
.G0 {@include glow(#FFF7F3)}
.G1 {@include glow(#FFF6EF)}
.G2 {@include glow(#fff5ec)}
.G3 {@include glow(#FFF5EB)}
.G4 {@include glow(#FFF4E9)}
.G5 {@include glow(#fff4e8)}
.G6 {@include glow(#FFF3E5)}
.G7 {@include glow(#FFF2E2)}
.G8 {@include glow(#fff1df)}
.G9 {@include glow(#FFF0DE)}
.K0 {@include glow(#ffeedd)}
.K1 {@include glow(#ffebd1)}
.K2 {@include glow(#ffe3c4)}
.K3 {@include glow(#FFDDB9)}
.K4 {@include glow(#ffd7ae)}
.K5 {@include glow(#FFD1A4)}
.K6 {@include glow(#FFCC9A)}
.K7 {@include glow(#ffc690)}
.K8 {@include glow(#FFC890)}
.K9 {@include glow(#FFC98F)}
.M0 {@include glow(#FFCB8F)}
.M1 {@include glow(#ffcc8e)}
.M2 {@include glow(#ffbe7f)} // rgb(255,190,127)
.M3 {@include glow(#ffce81)}
.M4 {@include glow(#ffbb7b)} // rgb(255,187,123)
.M5 {@include glow(#ffcc6f)} // rgb(255,204,111)
.M6 {@include glow(#ffc370)} // rgb(255,195,112)

// White Dwarf colors
// * White dwarfs are not exactly white

.D0 {@include glow(#9bb2ff)}
.D1 {@include glow(#9fb5ff)}
.D2 {@include glow(#a8bdff)}
.D3 {@include glow(#b3c5ff)}
.D4 {@include glow(#c0cfff)}
.D5 {@include glow(#cfdaff)}
.D6 {@include glow(#e0e6ff)}
.D7 {@include glow(#f3f3ff)}
.D8 {@include glow(#fff7f5)}
.D9 {@include glow(#ffefe1)}

// Specifically named stars
// These should supersede the general classes

#sol {
    @include glow(#fff5f2)
}

#alphacentauriA {@include glow(#fff5f2)}
#alphacentauriB {@include glow(#ffeedd)}
#proxima {@include glow(#ffcc6f)}
#barnard {@include glow(#ffc97f)}
#wolf359 {@include glow(#ffc370)}
#lalande21185 {@include glow(#ffc483)} //M2
#siriusA {@include glow(#b5c7ff)} //A1
#siriusB {@include glow(#a8bdff)} //D2
#UVCetiA {@include glow(#ffcc6f)} //M5
#UVCetiB {@include glow(#ffc370)} //M6
#Ross154 {@include glow(#ffce81)} //M3
#Ross248 {@include glow(#ffcc6f)} //M5
#eridani {@include glow(#ffe3c4)} // K2
#EZAquarii {@include glow(#ffcc6f)} //M5

// Luminosity classes

.hypergiant {
    @include luminosity(4);
}

.supergiant {
    @include luminosity(3);
}

.bright {
    @include luminosity(2.5);
}

.giant {
    @include luminosity(2);
}

.subgiant {
    @include luminosity(1.5);
}

.dwarf {
    @include luminosity(1);
}

// Because main-sequence M-type stars are really small
.dwarf.M {
    @include luminosity(0.25);
}

.subdwarf {
    @include luminosity(0.5);
}

.compact {
    @include luminosity(0.25);
}

